/* Created by Tivotal */

/* Google Fonts(Poppins) */
/*
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
}
.carrinho {
  margin-top: 1px;
  min-height: 40vh;
  padding: 0 35px;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-self: center;
}
.wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.23rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  transition: 0.3s ease;
  color: rgb(255, 255, 255);
}
.fa-angle-left{
  margin-right: 10px;
}
.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}


.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 2px);
  gap: 16px;
  border-radius: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.wrapper .carousel.no-transition {
  scroll-behavior: auto;
}

.wrapper .carousel::-webkit-scrollbar {
  display: none;
}

.wrapper .carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.wrapper .carousel .card {
  scroll-snap-align: start;
  height: 342px;
  background: #000000;
  border-radius: 20px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.wrapper .carousel.dragging .card {
  user-select: none;
  cursor: grab;
}

.wrapper .carousel .card .img_one {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Minecraft-creeper-face.jpg/800px-Minecraft-creeper-face.jpg);
  
}


.wrapper .carousel .card .img_two {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_doismaisum {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_four {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_five {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_six {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_seven {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img_eight {
  height: 275px;
  width: 275px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
.wrapper .carousel .card .img img {
  height: 133px;
  width: 233px;
  object-fit: contain;
  border-radius: 14px;
}

.wrapper .carousel .card h2 {
  font-size: 1.52rem;
  font-weight: 500;
  margin: 30px 0 5px;
}

.wrapper .carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

#right {
  margin-left: -10px;
}

#left {
  margin-left: -14px;
}


@media (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
} */ 